{{!< default}}



<div class="gh-page">
    <div class="gh-container">
            {{#page}}
            <article class="gh-article {{post_class}}">
                    <div class="gh-content gh-canvas">
                        {{content}}
                    </div>
                {{/page}}           
            </article>
                     
            <div class="gh-content gh-canvas">
                <h2>Artículos destacados</h2> 
                {{#get "posts" filter="featured:true" include="authors,tags" limit="5" as |featured|}}
                    {{#if featured}}
                    {{#foreach posts}}

                        {{> "card-featured"}}

                    {{/foreach}}
                    {{/if}}
                {{/get}}   
            </div>
    </div>
</div>